{%extends 'base.html'%} {% load bootstrap4 %} {% load static %} {%block content%}
<div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="ml9">
                        <span class="text-wrapper">
                          <span class="letters">Welcome to Alvicreative Marketing Hub</span>
                        </span>
                    </h1>
                </div>
                <img class="d-block w-100" src="../../static/images/Web-Design-And-Development-.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="ml9">
                        <span class="text-wrapper">
                          <span class="letters">Welcome to Alvicreative Marketing Hub</span>
                        </span>
                    </h1>
                </div>
                <img class="d-block w-100" src="../../static/images/Land2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="ml9">
                        <span class="text-wrapper">
                          <span class="letters">Welcome to Alvicreative Marketing Hub</span>
                        </span>
                    </h1>
                </div>
                <img class="d-block w-100" src="../../static/images/who-we-are2.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="welcome_message container mt-5">
        <h3>Who we are.</h3>
        <p>Alvicreative Innovation Centre is a marketing company that was founded in 2021.This was after realizing a cap in the market where most businesses both small and medi- um enterprises were really struggling to grow and get to as many people as possible.
            Our main focus was to help this entities to utilize the online space by making sure they are educated and takind advantage of the same. Successful brands move people at the moments thst matter.Thats precisely why its critical to partner with
            a marketing company that has expertise to craft a brand strategy ,develop a compelling brand story and then de- ploy your messageto targeted markets through online space and smartest media available.</p>
    </div>
    <div class="container mt-5">
        <h3>Services and Solutions</h3>
        <p>Do you need to show you products to the world? Need to go online? Feel like you are not reaching out to many client as you intend? Guess what,we are here for you!</p>
        <div class="card-group">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0OpvKDWW2KRGainRPvm7rug4AG6z5_QyJxg&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Social Media Management</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="pic">
                        <div class="button">
                            <p class="card-text"><small class=""><b>Read more</b></small></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0OpvKDWW2KRGainRPvm7rug4AG6z5_QyJxg&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Website Development and Design</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class=""><b>Read more</b></small></span>
                        </button>
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0OpvKDWW2KRGainRPvm7rug4AG6z5_QyJxg&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Website Development and Design</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class=""><b>Read more</b></small></span>
                        </button>
                    </p>
                </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0OpvKDWW2KRGainRPvm7rug4AG6z5_QyJxg&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Social Media Management</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="pic">
                        <div class="button">
                            <p class="card-text"><small class=""><b>Read more</b></small></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0OpvKDWW2KRGainRPvm7rug4AG6z5_QyJxg&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Website Development and Design</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class=""><b>Read more</b></small></span>
                        </button>
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0OpvKDWW2KRGainRPvm7rug4AG6z5_QyJxg&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Website Development and Design</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class=""><b>Read more</b></small></span>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

</div> {%endblock%}